.App {
  font-family: sans-serif;
  text-align: center;
}

/*
.heading {
  font-family: Georgia;
  color: blue;
}
*/

.heading {
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid black;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain; //cover;
  border: 2px solid black;
}
